<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="AllmightyBot">
    <Appenders>
        <RollingRandomAccessFile name="File-Output" fileName="logs/AllmightyBot.log" filePattern="logs/archived/${date:MM-yyyy}/AllmightyBot-%d{dd-MM-yyyy}.log.gz">
            <PatternLayout pattern="[%d{dd/M/yyy HH:mm:ss a}] [%level] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{dd/M/yyy HH:mm:ss a}] [%level] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <appender-ref ref="File-Output"/>
            <appender-ref ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>